{% extends 'base.html.twig' %}

{% block body %}
    <p>У нас Вы можете заказать вкусный торт, сделанный индивидуально для Вас бережно и тщательно
    по лучшей рецептуре из экологически чистых продуктов и по точным технологиям</p>
    <h3>Вы можете связаться по телефону 8-ххх-ххх-хх-хх</h3>
    <p>Или оставить заказ  <a href="{{ path('order') }}"> на нашем сайте</a></p>
    <p>Мы предлагаем Вам зарегистрироваться, ведь тогда Вы можете участвовать в наших акциях и
    бонусных программах, а также получать скидки!</p>
    <h3>Добро пожаловать в Магию Вкуса!</h3>
{% endblock %}