{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome" class="text-center">
                <h1>Магазин вкуса - выпечка на заказ, доставка</h1>

            </div>
            <button class="btn btn-lg btn-bs">Здесь долна быть Bootstrap кнопка!</button>
            <div id="status">
                <p>
                    Вы може это попробовать но оно еще не работает!
                    <code>{{ base_dir }}</code>
                    <span>
                        <i class="fa fa-camera-retro"></i> Пример иконки
                    </span>
                </p>
            </div>

            <div id="next">
                <h2>What's next?</h2>
            </div>

        </div>
    </div>
{% endblock %}